extends account_base

block vars
    - var page = "account"


block title Your account

block account-body
    h1(title="{{user._id}}") Your account

    // Username
    {{#if user.username}}
    .form-horizontal
        .control-group
            label.control-label(for="username") Username
            .controls
                input.input-xlarge(type="text", disabled, value="{{user.username}}")
    {{else}}
    form.form-horizontal(method="post")
        .control-group(class="{{#if error.username}}error{{/if}}")
            label.control-label(for="username") Username
            .controls
                input.input-xlarge(type="text", name="username", value="{{formValues.username}}")
                {{#if error.username}}
                span.help-inline {{error.username}}
                {{else}}
                span.help-inline
                    | By creating a username, you will be able to share your
                    | work here more easily.
                {{/if}}
        .control-group
            label.control-label
            .controls
                button.btn.btn-primary Save username
    {{/if}}

    //Email change form
    form.form-horizontal(method="post")
        .control-group(class="{{#if error.email}}error{{/if}}")
            label.control-label(for="email") Email
            .controls
                //input.input(id="email", name="email", value="{{#if formValues.email}}{{formValues.email}}{{else}}{{user.email}}{{/if}}", type="text")
                input.input-xlarge(id="email", name="email", value="{{first formValues.email user.email}}", type="text")
                span.help-inline {{error.email}}
        .control-group
            label.control-label
            .controls
                button.btn.btn-primary {{#if user.email}}Change{{else}}Save{{/if}} email address

    //Password change form
    {{#if user.username}}
    form.form-horizontal(method="post")
        .control-group(class="{{#if error.password}}error{{/if}}")
            label.control-label(for="username") Password
            .controls
                input.input-xlarge(id="password", name="password", value="{{formValues.password}}", type="password")
                span.help-inline {{error.password}}
        .control-group(class="{{#if error.password}}error{{/if}}")
            label.control-label(for="username") Confirm password
            .controls
                input.input-xlarge(id="password2", name="password2", value="{{formValues.password2}}", type="password")
                span.help-inline {{error.password}}
        .control-group
            label.control-label
            .controls
                button.btn.btn-primary {{#if user.password}}Change{{else}}Set{{/if}} password
    {{else}}
    .form-horizontal
        .control-group
            label.control-label(for="username") Password
            .controls
                input.input-xlarge(id="password", disabled, type="password")
        .control-group
            label.control-label(for="username") Confirm password
            .controls
                input.input-xlarge(id="password", disabled, type="password")
        .control-group
            label.control-label
            .controls
                button.btn.btn-primary(disabled) {{#if user.password}}Change{{else}}Set{{/if}} password
    {{/if}}

    h2 Linked accounts

    // TWITTERS
    {{#if user.twitterUsername}}
    form.form-horizontal#twitter-link-form.unlink(action='/oauth/twitter/unlink', method='POST')
        .control-group
            label.control-label Twitter
            .controls
                label 
                    | Linked to Twitter account 
                    a(href="http://twitter.com/{{user.twitterUsername}}") {{user.twitterUsername}}
                button.btn.btn-danger.unlink(type='submit') Unlink
    {{else}}
    form.oauth.form-horizontal#github-link-form.oauth(action='/oauth/twitter/link', method='GET')
        .control-group
            label.control-label Twitter
            .controls
                button.btn(type='submit')
                    img(src='/static/images/twitter_24.png', alt='')
                    | Link with Twitter
    {{/if}}




    // GITHUBS
    {{#if user.githubUsername}}
    form.form-horizontal#github-link-form.unlink(action='/oauth/github/unlink', method='POST')
        .control-group
            label.control-label GitHub
            .controls
                label 
                    | Linked to GitHub account 
                    a(href="http://github.com/{{user.githubUsername}}") {{user.githubUsername}}
                button.btn.btn-danger.unlink(type='submit') Unlink
    {{else}}
    form.oauth.form-horizontal#github-link-form.oauth(action='/oauth/github/link', method='GET')
        .control-group
            label.control-label GitHub
            .controls
                button.btn(type='submit')
                    img(src='/static/images/octocat_24.png', alt='')
                    | Link with GitHub
    {{/if}}


block append scripts
    
    script(type='text/javascript')
        var factors = {{count user.password user.twitterId user.githubId}};
        if (factors < 2) {
            $(function(){
                $("form.unlink").on("submit", function(){
                    return confirm("This is your last login method! "+
                    "If you unlink this account you will not be able to log in "+
                    "again in future.");
                });
            });
        }
        

 




















