extends base

block title Your account

block body
    | _id : {{user._id}}
    br
    | twitterId : {{user.twitterId}}
    br
    | twitterUsername : {{user.twitterUsername}}
    br
    | gitHubId : {{user.gitHubId}}
    br
    | gitHubUsername : {{user.gitHubUsername}}
