extends responsive

block title Your account

block content
    h1 Your account
    | _id : {{user._id}}
    br
    | twitterId : {{user.twitterId}}
    br
    | twitterUsername : {{user.twitterUsername}}
    br
    | gitHubId : {{user.gitHubId}}
    br
    | gitHubUsername : {{user.gitHubUsername}}
