!!! 5
html
    head
        title 
            block title 
                Lesster
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block stylesheets
            link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css', rel='stylesheet')
            link(rel='stylesheet', href='/static/styles/main.css', type='text/css')
            
    body
        block vars
        block body

