extends base

//block append stylesheets
    

block body
    #title-bar
        .navbar.navbar-fixed-top
            .navbar-inner
                .container-fluid
                    .row-fluid 
                        .span12
                            include titlebar_partial
                        
    #not-title-bar
        block content
    
    block scripts
        include core_scripts_partial

