extends base

block body
    #style-editor-panel
        h2.panel-header LESS
        #style-editor
    #css-output-panel
        h2.panel-header CSS output (read-only)
        #css-output
    #view-panel
        ul#view-tabs.nav.nav-tabs
            li.active
                a(href='#result-panel', data-toggle='tab') Result
            li
                a(href='#html-editor-panel', data-toggle='tab') HTML
        #view-tab-container.tab-content
            #result-panel.tab-pane.active
                iframe(src='/static/result.html')
            #html-editor-panel.tab-pane
                #html-editor

block append scripts
    script(type='text/javascript', src='/static/scripts/lesster.js')
    script(type='text/javascript')
        function poot () { alert("poot"); }
    script#initial-less(type='text/plain').
        @color: steelblue;
        body { background-color: lighten(@color, 45%); color: @color;}
        
        .border-radius (@radius: 1em) {
            border-radius: @radius;
            -moz-border-radius: @radius;
            -webkit-border-radius: @radius;
        }
        
        .posish (@top, @right, @bottom, @left) {
            position: absolute;
            top: @top;
            right: @right;
            bottom: @bottom;
            left: @left
        }
        
        .panel { 
            .border-radius;
            background-color: lighten(@color, 35%); 
            padding: 1em;
        }
        
        #apples { 
            .panel;
            .posish(1em, 1em, auto, auto); 
            height: 3em; width: 10em;  
        }
        #oranges { 
            .panel;
            .posish(auto, 1em, 1em, auto); 
            height: 3em; width: 10em;  
        }
    script#initial-html(type='text/plain')
        | <h1>Hello</h1>    
        | <p>This is some sample html
        | <div id="apples">Apples</div>
        | <div id="oranges">Oranges</div></script>

