extends base

block body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                include titlebar_partial

    #not-title-bar.container
        block responsive-body
        
    block scripts
        include core_scripts_partial
