a.brand(href='/') Lesster 
p.slogan.pull-left
    | Realtime 
    a(href='http://lesscss.org/', target='_new') LESS 
    | sandbox
form#logout-form.navbar-form.pull-right.logged-in(action='/logout', method='post')
    button.btn.btn-danger(type='submit') Logout
p.slogan.pull-right.logged-in
    | Logged in as 
    span#username Anonymous
    | &nbsp;
form#password-login-form.navbar-form.pull-right.logged-out(action='/login', method='post')
    input.span2(name='username', type='text', placeholder='username')
    input.span2(name='password', type='password', placeholder='password')
    button.btn(type='submit') Log in
form#github-login-form.navbar-form.pull-right.logged-out.oauth(action='/github-login', method='GET')
    button.btn(type='submit')
        img(src='/static/images/octocat_24.png', alt='')
        | Log in with GitHub
form#twitter-login-form.navbar-form.pull-right.logged-out.oauth(action='/twitter-login', method='GET')
    button.btn(type='submit')
        img(src='/static/images/twitter_24.png', alt='')
        | Log in with Twitter